<!DOCTYPE html>
<head>
<title>Erikas</title>
<meta name="description" content="Kollektiv Erikas - Burgers, Partys, Events - Zürich">
<meta name="keywords" content="Erikas Diner, Erikas Pool Party, Erikas Sommerfest, Burgers&HipHop">
<meta name="author" content="Kollektiv Erikas">
<meta charset="UTF-8">
<style>
.bgblack {
    background-color: #0a0a0a
}
</style>
</head>

<body class="bgblack">
<table itemscope itemtype = "http://schema.org/Thing" align="center" text-align="center">
<tbody>
    <tr>
    	<td align="middle">
		<img src="{{ url_for('static', filename='images/logo.gif') }}" alt=""/>
      	</td>
	</tr>
</tbody>
</body>
</html>

