<!DOCTYPE html>
<html lang="de">
<head>
	<title>Erikas</title>
	<meta name="description" content="Kollektiv Erikas - Burgers, Partys, Events - Zürich">
	<meta name="keywords" content="Erikas Diner, Erikas Pool Party, Erikas Bibimbap, Burgers&HipHop">
	<meta name="author" content="Kollektiv Erikas">
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images/logo.gif') }}">
	<style>
	.bgblack {
		background-color: #0a0a0a
	}
	</style>
</head>

<body class="bgblack">
	
	<div class="container">
		
		<div class="spacer"></div>
	
		<div class="center"><img src="{{ url_for('static', filename='images/logo.gif') }}" alt=""/></div>
	
		<div class="center">
			<table>
				<tr>
					<td colspan="2">{{ form.name }}</td><td colspan="2">{{ form.seats }}</td>
				</tr>
				<tr>
					<td colspan="4">{{ form.email }}</td>
				</tr>
				<tr>
					{% for day in form.date %}
						<td>{{ day }}</td>
						<td>{{ day.label }}</td>
					{% endfor %}
				</tr>
				<tr>
					<td stype="text-align: center;"><p>Jeweils um 19:00</p></td>
					<td align="right">
						<button type="submit" style="width:80px">OK
						</button>
					</td>
				</tr>
				<tr>
					{% for message in form.name.errors %}
						<div class="flash">{{ message }}</div>
					{% endfor %}
				</tr>
				<tr>
					{% for message in form.email.errors %}
						<div class="flash">{{ message }}</div>
					{% endfor %}
				</tr>
				<tr>
					{% for message in form.seats.errors %}
						<div class="flash">{{ message }}</div>
					{% endfor %}
				</tr>
				<tr>
					{% for message in form.date.errors %}
						<div class="flash">{{ message }}</div>
					{% endfor %}
				</tr>	
			</table>
		</form>
	</div>
</div>
</body>
</html>